@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: gray; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: white;
}

@layer components {
    .cGray {
        color: #77777c !important;
    }

    .d1 {
        @apply bg-red-300 !important;
    }
    .d2 {
        @apply bg-blue-300 !important;
    }
    .d3 {
        @apply bg-green-300 !important;
    }
    .d4 {
        @apply bg-orange-300 !important;
    }
    .d5 {
        @apply bg-pink-300 !important;
    }

}

.rotating-curved-text {
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* .swiper-pagination-bullet-active {
 @apply dark:bg-[#2B2B28] bg-[#F1EFE6] p-[0.4rem] !important;
} */
.swiper-pagination-bullet {
 @apply rounded-none h-1 w-5 bg-gray-700 dark:bg-gray-300  !important;
}
/* .swiper-pagination-bullet- {
 @apply dark:bg-[#2B2B28] bg-[#F1EFE6] !important;
} */

  /* --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px; */